{% extends 'second_header_base.html' %}
{% load static %}

{% block additional_media %}
    <link href="{% static 'css/car_wash_catalog.css' %}" rel="stylesheet">    
    <link href="{% static 'css/car_wash_all_pages.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="car_wash_page">
        <div class="wrapper">
            <h1 class="car_wash_page_heading">ВНУТРЕННЯЯ МОЙКА</h1>
            <p class="content">Процессы очистки кузова автомобиля от грязи существенно отличаются на различных типах автомоек. Автолюбитель всегда может выбрать наиболее подходящий для него вид мойки.</p>
            <p class="content">Итак, рассмотрим основные существующие виды автомоек:</p>
            
            <ul class="secvices_list">
                <li class="services_list_item"><span>Hучная мойка – это традиционная мойка автомобиля, которую  выполняют люди. Машина моется водой и автошампунем с применением губок, щеток, тряпок и т.п., то есть контактная мойка.</span></li>
                <li class="services_list_item"><span>Плюсом ручной мойки авто является то, что человек в процессе работы видит, какие участки загрязнены больше и нуждаются в более тщательной очистке.</span></li>
                <li class="services_list_item"><span>Минусы: при такой мойке есть большой риск повредить лакокрасочное покрытие на кузове автомобиля; и ручная мойка автомобиля займёт наибольшее количество времени.</span></li>
            </ul>

            <h4 class="our_services">СТОИМОСТЬ АВТОМОЙКИ</h4>
            <p class="content">Зависит от большого количества факторов, которые вам помогут оценить специалисты автоцентра. Основные факторы, которые напрямую влияют на цену автомойки это степень загрязнённости и размер вашего автомобиля. Степень загрязнённости, в свою очередь, также зависит от времени года, состояния дорожного покрытия, частоты мойки авто. Чтобы уточнить стоимость автомойки вашего автомобиля, вы можете посмотреть страницу Автомойка на нашем сайте или перезвонить по телефону нашему менеджеру.</p>
            <p class="content">Заказать услугу автомойки вы всегда можете в нашем Автокомплексе. Обращаясь к нам вы получаете услуги лучшего качества и гарантию безопасности вашего автомобиля. Вы можете смело оставлять ваше авто у нас, а сами спокойно заниматься своими делами. И к назначенному времени, мы выполним все работы, согласно ваших пожеланий.</p>
            <p class="content">Автомойка это ещё и залог хорошего здоровья не только пассажиров, но и самого авто. Ведь хорошо известно, что грязь и пыль, которые со временем накапливаются, могут приводить ухудшению общего состояния автомобиля.</p>
            <p class="content">Доверяйте работы по автомойке вашего автомобиля только проверенным специалистам, у которых есть большой опыт работы, необходимое оборудование и материалы. И что важно, у которых есть хорошие отзывы о работе. </p>
            
            {% if user.is_superuser %}
                <a class="crud_link create_new_object_link" href="{% url 'internal_washing_create' %}">Новый объект</a>
            {% endif %}
            <table class="prices_table">
                <tr>
                    <th class="prices_table_cell prices_table_headings wash_prices">Цены на мойку</th>
                    <th class="prices_table_cell prices_table_headings">Легковой</th>
                    <th class="prices_table_cell prices_table_headings">Универсал</th>
                    <th class="prices_table_cell prices_table_headings">Паркетник минивэн</th>
                    <th class="prices_table_cell prices_table_headings">Внедорожник</th>
                    <th class="prices_table_cell prices_table_headings">Микроавтобус</th>
                </tr>
                {% for internal_washing in object_list %}
                <tr>
                    <td class="prices_table_cell prices_table_prices">{{ internal_washing.washing_object }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ internal_washing.light_weight_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ internal_washing.universal_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ internal_washing.minivan_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ internal_washing.suv_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ internal_washing.minibus_car_price }}</td>
                    {% if user.is_superuser %}
                        <td><a class="crud_link edit_object_link" href="{% url 'internal_washing_update' internal_washing.pk %}">Изменить</a></td>
                        <td><a class="crud_link delete_object_link" href="{% url 'internal_washing_delete' internal_washing.pk %}">Удалить</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock content %}