{% extends '_base.html' %}
{% load static %}

{% block additional_media %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block second_header %}
    <br>
    <a href="{% url 'external_washing' %}">Внешняя мойка</a>
    <a href="{% url 'internal_washing' %}">Внутрення мойка</a>
    <a href="{% url 'polishing' %}">Полировка</a>
    <a href="{% url 'dry_cleaning' %}">Химчистка</a>
{% endblock second_header %}

{% block content %}
    Каталог автомоки

{% endblock content %}