/* For-all config ------------------------------*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5,
p{
    margin: 0;
    padding: 0;
    display: block;
}

a,
a:visited,
a:active{
    color: inherit;
    text-decoration: inherit;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


hr{
    border: none;
    height: 2px;
    margin: 0;
    padding: 0;
}

button{
    outline: none;
    border: none;
    padding: none;
    cursor: pointer;
}



/* Header --------------------------------------------*/
header{
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ACACB3;
    padding-top: 25px;
    padding-bottom: 15px;

    margin-bottom: 25px;
}


/* Navigation menu ----------*/
ul.header_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

li.header_menu_item{
    margin: 0 35px 0 35px;
}


/* Footer ---------------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer > div.wrapper{
    margin-right: 50px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

}