{% extends 'second_header_base.html' %}
{% load static %}

{% block additional_media %}
    <link href="{% static 'css/car_wash_catalog.css' %}" rel="stylesheet">
    <link href="{% static 'css/car_wash_all_pages.css' %}" rel="stylesheet">
    <link href="{% static 'css/crud.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <section class="crud_object_section">
        <div class="wrapper">
            <h1>Изменить машину</h1>
            <div class="crud_body">
                <form class="crud_form" method="POST">
                    {% csrf_token %}
                    <div>
                        {% for field in form %}
                        <div class="form_group">
                            {{ field.label_tag }}
                            <div class="field">{{ field }}</div>
                            {% if field.errors%}
                            {% for error in field.errors %}
                            <div class="alert alert_danger">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="crud_button crud_button_edit">Изменить</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}