{% extends 'second_header_base.html' %}
{% load static %}

{% block additional_media %}
    <link href="{% static 'css/car_wash_catalog.css' %}" rel="stylesheet">
    <link href="{% static 'css/car_wash_all_pages.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="car_wash_page">
        <div class="wrapper">
            <h1 class="car_wash_page_heading">ХИМЧИСТКА</h1>
            <p class="content">Автоматическая, сухая и бесконтактная мойка — это виды мойки авто не очень высокого качества. При автоматической всё происходит без участия человека в автоматическом режиме, и нет возможности качественно отмыть труднодоступные места, диски, подкрылки и на них остаётся грязь. Автоматическая мойка обычно используется когда нужно быстро помыть автомобиль быстро и качество мойки не имеет значение.</p>
            <ul class="secvices_list">
                <li class="services_list_item"><span>Сухая мойка выполняется с использованием специальных составов и тряпок и может быть реализована в любом месте (улица, гараж, паркинг). </span></li>
                <li class="services_list_item"><span>Ручная мойка подразумевает использование большого количества ручного труда, при котором мастер использует специальные тряпки, губки, шампуни. Самая правильная и безопасная.</span></li>
                <li class="services_list_item"><span>Бесконтактная мойка — это использование активных пен и струи воды под большим давлением. </span></li>
            </ul>
            <h4 class="our_services"></h4>
        
            {% if user.is_superuser %}
                <a class="crud_link create_new_object_link" href="{% url 'dry_cleaning_create' %}">Новый объект</a>
            {% endif %}
            <table class="prices_table">
                <tr>
                    <th class="prices_table_cell prices_table_headings wash_prices">Цены на мойку</th>
                    <th class="prices_table_cell prices_table_headings">Легковой</th>
                    <th class="prices_table_cell prices_table_headings">Универсал</th>
                    <th class="prices_table_cell prices_table_headings">Паркетник минивэн</th>
                    <th class="prices_table_cell prices_table_headings">Внедорожник</th>
                    <th class="prices_table_cell prices_table_headings">Микроавтобус</th>
                </tr>
                {% for dry_cleaning in object_list %}
                <tr>
                    <td class="prices_table_cell prices_table_prices">{{ dry_cleaning.washing_object }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ dry_cleaning.light_weight_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ dry_cleaning.universal_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ dry_cleaning.minivan_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ dry_cleaning.suv_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ dry_cleaning.minibus_car_price }}</td>
                    {% if user.is_superuser %}
                        <td><a class="crud_link edit_object_link" href="{% url 'dry_cleaning_update' dry_cleaning.pk %}">Изменить</a></td>
                        <td><a class="crud_link delete_object_link" href="{% url 'dry_cleaning_delete' dry_cleaning.pk %}">Удалить</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock content %}