{% extends 'second_header_base.html' %}
{% load static %}

{% block additional_media %}
    <link href="{% static 'css/car_wash_catalog.css' %}" rel="stylesheet">    
    <link href="{% static 'css/car_wash_all_pages.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="car_wash_page">
        <div class="wrapper">
            <h1 class="car_wash_page_heading">ПОЛИРОВКА</h1>
            {% if user.is_superuser %}
                <a class="crud_link create_new_object_link" href="{% url 'polishing_create' %}">Новый объект</a>
            {% endif %}
            <table class="prices_table">
                <tr>
                    <th class="prices_table_cell prices_table_headings wash_prices">Цены на мойку</th>
                    <th class="prices_table_cell prices_table_headings">Легковой</th>
                    <th class="prices_table_cell prices_table_headings">Универсал</th>
                    <th class="prices_table_cell prices_table_headings">Паркетник минивэн</th>
                    <th class="prices_table_cell prices_table_headings">Внедорожник</th>
                    <th class="prices_table_cell prices_table_headings">Микроавтобус</th>
                </tr>
                {% for polishing in object_list %}
                <tr>
                    <td class="prices_table_cell prices_table_prices">{{ polishing.washing_object }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ polishing.light_weight_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ polishing.universal_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ polishing.minivan_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ polishing.suv_car_price }}</td>
                    <td class="prices_table_cell prices_table_prices">{{ polishing.minibus_car_price }}</td>
                    {% if user.is_superuser %}
                        <td><a class="crud_link edit_object_link" href="{% url 'polishing_update' polishing.pk %}">Изменить</a></td>
                        <td><a class="crud_link delete_object_link" href="{% url 'polishing_delete' polishing.pk %}">Удалить</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock content %}