{% extends 'second_header_base.html' %}
{% load static %}

{% block additional_media %}
    <link href="{% static 'css/car_wash_base.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<h1>ПОЛИРОВКА</h1>

            {% if user.is_superuser %}
                <a class="crud_link create_link" href="{% url 'polishing_create' %}">Новый объект</a>
            {% endif %}
            <br>
                <table class="orders_table">
                    <tr>
                        <th class="orders_table_cell table_header"></th>
                        <th class="orders_table_cell table_header">Легковой</th>
                        <th class="orders_table_cell table_header">Универсал</th>
                        <th class="orders_table_cell table_header">Паркетник минивэн</th>
                        <th class="orders_table_cell table_header">Внедорожник</th>
                        <th class="orders_table_cell table_header">Микроавтобус</th>
                    </tr>
                    {% for polishing in object_list %}
                    <tr>
                        <td class="orders_table_cell table_content">{{ polishing.washing_object }}</td>
                        <td class="orders_table_cell table_content">{{ polishing.light_weight_car_price }}</td>
                        <td class="orders_table_cell table_content">{{ polishing.universal_car_price }}</td>
                        <td class="orders_table_cell table_content">{{ polishing.minivan_car_price }}</td>
                        <td class="orders_table_cell table_content">{{ polishing.suv_car_price }}</td>
                        <td class="orders_table_cell table_content">{{ polishing.minibus_car_price }}</td>
                        <td class="orders_table_cell table_content"><a class="crud_link order_crud edit_link" href="{% url 'polishing_update' polishing.pk %}">Изменить</a></td>
                        <td class="orders_table_cell table_content"><a class="crud_link urder_crud delete_link" href="{% url 'polishing_delete' polishing.pk %}">Удалить</a></td>
                    </tr>
                    {% endfor %}
                </table>
{% endblock content %}