{% extends 'tire_fitting_second_header_base.html' %}
{% load static %}

{% block additional_media %}
    <link href="{% static 'css/tire_fitting_catalog.css' %}" rel="stylesheet">
    <link href="{% static 'css/car_wash_catalog.css' %}" rel="stylesheet">
    <link href="{% static 'css/tire_fitting_all_pages.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <section class="tire_fitting_page_section">
        <div class="wrapper">
            <h1 class="heading">Смена шин по сезону</h1>
            <h4 class="our_services">Наш сервис может предложить вам большой спектр услуг шиномонтажа:</h4>
            <ul class="secvices_list">
                <li class="services_list_item"><span>cезонная замена резины (снятие и монтаж шин, балансировка колес);</span></li>
                <li class="services_list_item"><span>ремонт проколов, боковых порезов и грыж шин;</span></li>
                <li class="services_list_item"><span>снятие, монтаж покрышек;</span></li>
                <li class="services_list_item"><span>балансировка колес;</span></li>
                <li class="services_list_item"><span>проверка давления в шинах;</span></li>
                <li class="services_list_item"><span>покраска дисков;</span></li>
                <li class="services_list_item"><span>полировка дисков.</span></li>
            </ul>

            <h4 class="our_services">Смена резины на летнюю и наоборот — для чего и когда?</h4>
            <p class="content">Ключевые факторы, заставляющие прибегать к перебортировке колес к зиме и к лету, — химический состав резины колес и характеристики протекторов. Однако именно свойства резины имеют важнейшее значение.</p>
            <p class="content">Зимняя резина — морозостойкая, эластичная, пористая, — демонстрирует оптимальные сцепные свойства при низких температурах, особенно при езде на льду. Однако с теплом она становится еще мягче и теряет свои функции, что особенно показательно на поворотах и при езде на высокой скорости. В конце концов, смена шин на летние необходима и потому, что в силу своей структуры летом она просто быстро изнашивается.</p>
            <p class="content">Летняя — более жёсткая, становится еще жестче при низких температурах. Она теряет свои тяговые, сцепные и дренажные свойства. Следствие — пробуксовки, скольжение и заносы, увеличение тормозного пути, то есть, весь набор факторов и рисков на дороге зимой. Кроме того, даже при обычном проколе увеличиваются риски разрыва колеса.</p>
            <p class="content">Исходя из перечисленного выше, следует сказать: замена зимней резины на летнюю рекомендуется при температуре выше +5...+7 °C. Переобувать колесо в «европейскую» покрышку или скандинавскую «шиповку», требуется, соответственно при температуре ниже +6...+4°C. Европейские нешипованные покрышки больше подойдут в условиях крупного города, скандинавские с шипами или метками под них — для заснеженных дорог. По Техническому регламенту «О безопасности колесных транспортных средств» зимнюю резину в норме автомобили должны иметь 3 месяца в году (сезон замены шин на зимние — с декабря по февраль, сроки могут варьироваться в зависимости от региона). </p>

            <h4 class="our_services">Смена резины — своими руками или в шиномонтаже?</h4>
            <ul class="secvices_list">
                <li class="services_list_item"><span>Если вы заботливый и аккуратный хозяин своей «ласточки» — однозначно рекомендуем второй вариант, и вот почему.</span></li>
                <li class="services_list_item"><span>На большинстве современных автомобилей установлены бескамерные шины. Их демонтаж и переустановка достаточно сложный процесс, требующий профессионального оборудования и навыков.</span></li>
                <li class="services_list_item"><span>При обращении в автосервис вам помогут оценить не только состояние резины, но и дисков, которые могут нуждаться в прокатке.</span></li>
                <li class="services_list_item"><span>При «переобувке» колес в сервисах обязательно выполняется их балансировка, непосредственно влияющая на безопасность езды. Она также требует специального высокоточного оборудования.</span></li>
            </ul>
            <p class="content">
                Мастера нашего автокомплекса оперативно и со знанием дела произведут смену резины, а при необходимости возьмут покрышки на хранение до новой сезонной «переобувки».</p>
        </div>
    </section>

{% endblock content %}