{% extends 'tire_fitting_second_header_base.html' %}
{% load static %}

{% block additional_media %}
    <link href="{% static 'css/tire_fitting_catalog.css' %}" rel="stylesheet">
    <link href="{% static 'css/car_wash_catalog.css' %}" rel="stylesheet">
    <link href="{% static 'css/tire_fitting_all_pages.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <section class="tire_fitting_page_section">
        <div class="wrapper">
            <h1 class="heading">Ремонт шин</h1>
            <p class="content">Если Вы каким-то образом повредили резину, не спешите списывать ее со счетов и покупать новую. Высококвалифицированные специалисты автокомплекса "Покровский" быстро и недорого производят ремонт автомобильных шин. Мы качественно устраняем проколы, боковые порезы, грыжи и разрывы. </p>

            <h4 class="our_services">Наш сервис может предложить вам большой спектр услуг шиномонтажа:</h4>
            <p class="content">Высококвалифицированные специалисты нашей компании стараются устранять все описанные выше проблемы без традиционных латок, путем восстановления металлокорда и дальнейшей вулканизации поврежденной зоны покрышки. В результате отремонтированная шина ничем не уступает новой.</p>
            <p class="content">Стоит так же отметить, что при демонтаже и монтаже резины применяется только современное оборудование, что обеспечивает сохранность целостности структуры, как дискам, так и покрышкам.</p>
            <p class="content">Мы гарантируем качество выполненных нами работ. Так же специалисты делают все для сведения к минимуму вероятности возникновения существенных дисбалансов и каких-либо изменений в показателях эксплуатационных характеристик резины. После ремонта наличие дефектов становится, практически, незаметным.</p>

            <h4 class="our_services">Однако стоит помнить, что срок службы шин может быть снижен по причине:</h4>
            <ul class="secvices_list">
                <li class="services_list_item"><span>их регулярной эксплуатации на низкокачественных дорогах;</span></li>
                <li class="services_list_item"><span>экстремальных торможений и резком увеличении скорости;</span></li>
                <li class="services_list_item"><span>увеличения степени нагрузки на колеса;</span></li>
                <li class="services_list_item"><span>низкого давления в шинах и т. д.</span></li>
            </ul>
            <p class="content">Наши высококвалифицированные специалисты осуществляют ремонт шин в мастерских, оснащенных только профессиональным оборудованием. При этом стоимость оказанных услуг остается на демократичном уровне. Все цены – прозрачны и предоставлены в детальном прайсе. Так же Вы можете узнать, сколько стоит ремонт шин в Красноярске, связавшись с нашим менеджером по указанному контактному номеру телефона.</p>

        </div>
    </section>

{% endblock content %}